@charset "utf-8";
/* Menu */
#menuWrapper {
	width: 965px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 600;
	font-size: 10px;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-o-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
}

#menu {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-transform: uppercase;
	height: 35px;
	line-height: 35px;
	font-size: 10px;
	background: url(images/vb.png) top left;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	-o-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	border: 1px solid #444;
	width: 965px;
	margin: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

	#menu h1, #menu ul, #menu p, #menu img {
		margin: 0;
		padding: 0;
		border: 0;
	}

	#menu h1 {
		font-weight: normal;
	}

	#menu ul {
		list-style: none;
	}

	#menu a {
		text-decoration: none;
	}

	#menu .menu-label {
		font-weight: bold;
		
	}
	#menu .highlight {
		color: #3C64C8;
	}

		#menu .highlight:hover {
			color: #55D4FF;
		}

	/* Top buttons */
	#menu .menu-top > li {
		float: left;
		height: 35px;
		border-right: solid 01px #444;
		position: relative;
		text-align: center;
		-webkit-transition: background-color 0.2s;
		-moz-transition: background-color 0.2s;
		-ms-transition: background-color 0.2s;
		-o-transition: background-color 0.2s;
		transition: background-color 0.2s;
	}

		#menu .menu-top > li:first-child {
			-webkit-border-radius: 0 0 0 8px;
			-moz-border-radius: 0 0 0 8px;
			-o-border-radius: 0 0 0 8px;
			border-radius: 0 0 0 8px;
		}

		#menu .menu-top > li:hover {
			background-color: #000000;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		}

	#menu .menu-top .menu-right {
		border-right: none;
		float: right;
	}

		#menu .menu-top .menu-right .menu-button {
			margin: 0px;
			padding: 0 2px;
		}

	#menu #menu-right {
		margin-right: 40px;
	}
	#menu #navLogin .menu-button:after {
	 content: '\00a0\00a0/\00a0';
	}


		#menu #menu-right:only-child {
			margin-right: 40px;
		}

	#menu .menu-button {
		display: block;
		padding: 0 20px;
		color: #a0a0a0; /* menu button color - orig:d0d0d0 */
		-webkit-transition: color 0.2s;
		-moz-transition: color 0.2s;
		-ms-transition: color 0.2s;
		-o-transition: color 0.2s;
		transition: color 0.2s;
	}

	#menu li:hover .menu-button {
		color: #ffffff;
		-webkit-transition: color 0.2s;
		-moz-transition: color 0.2s;
		-ms-transition: color 0.2s;
		-o-transition: color 0.2s;
		transition: color 0.2s;
	}

		#menu li:hover .menu-button .highlight { /*hirez*/
			color: #55D4FF;
		}

.menu-button .highlight {
	text-transform: none;
}

#menu .menu-drop {
	margin-right: 5px;
	background: url("images/ticktrans.png") no-repeat right;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-ms-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
}
	#menu .menu-drop .menu-label {
	margin-right:10px;
	}
#menu li:hover .menu-drop {
	background: url("images/ticktransDown.png") no-repeat right;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-ms-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
}


/*Hi-Rez Mod*/
#menu .menu-button-image {
	padding: 3px 20px 4px;
	text-decoration: none;
}


/* Dropdown */
#menu .menu-dropdown {
	text-align: left;
	background-color: #2a2a2a;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	position: absolute;
	left: -5000px;
	opacity: 0;
	z-index: 100;
}

#menu li:hover .menu-dropdown {
	left: 0;
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

#menu .menu-right:hover .menu-dropdown {
	left: auto;
	right: 0;
}

#menu .menu-sub {
	margin: 5px 0;
	position: relative;
}
	/* Dropdown content */

	#menu .menu-sub li:first-child {
		border-top: none;
		border-bottom: solid 01px #444;
	}

	#menu .menu-sub li:last-child {
		border-bottom: none;
		border-top: solid 01px #444;
	}

	#menu .menu-sub li:only-child {
		border: none;
	}

	#menu .menu-sub li {
		border-top: solid 01px #444;
		border-bottom: solid 01px #444;
		white-space: nowrap;
		-webkit-transition: background-color 0.1s;
		-moz-transition: background-color 0.1s;
		-ms-transition: background-color 0.1s;
		-o-transition: background-color 0.1s;
		transition: background-color 0.1s;
	}

		#menu .menu-sub li:hover {
			background: #000000 url("images/select.png") no-repeat 10px;
			-webkit-transition: background-color 0.2s;
			-moz-transition: background-color 0.2s;
			-ms-transition: background-color 0.2s;
			-o-transition: background-color 0.2s;
			transition: background-color 0.2s;
		}

#menu .menu-subbutton {
	display: block;
	padding: 7px 20px;
	line-height: 1.3;
	color: #d0d0d0;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

#menu .menu-sub li:hover .menu-subbutton {
	color: #ffffff;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

#menu .menu-desc {
	font-style: italic;
	color: #a0a0a0;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

#menu .menu-sub li:hover .menu-desc {
	color: #d0d0d0;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

#menu .menu-row {
	display: inline-block;
	zoom: 1;
	*display: inline;
}

	#menu .menu-row .menu-sub {
		margin: 0;
	}

#menu h1 {
	font-size: 2em;
	color: #a0a0a0;
}

#menu p {
	color: #e5e5e5;
}

#menu .emp {
	font-weight: bold;
}

#menu .quote {
	font-style: italic;
}

/* Dropdown 3 */
#menu .menu-dropdown3 {
	visibility: hidden;
	margin-top: 4px;
	white-space: nowrap;
}

#menu .menu-dropdown1 li:hover .menu-dropdown3 {
	left: 109px;
	visibility: visible;
	top: -5px;
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

#menu .menu-dropdown3 h1 {
	margin: 0 0 5px 20px;
}

#menu .menu-dropdown3 .menu-row {
	margin: 5px 0;
}

	#menu .menu-dropdown3 .menu-row:last-child {
	}

/* Dropdown 4 */
#menu .menu-dropdown4 {
	padding-top: 5px;
	white-space: nowrap;
}

	#menu .menu-dropdown4 h1 {
		margin: 0 0 5px 20px;
	}

	#menu .menu-dropdown4 .menu-row div {
		margin: 5px 0 10px 0;
	}

	#menu .menu-dropdown4 .menu-row:last-child div {
	}

	#menu .menu-dropdown4 .menu-row div:last-child {
		margin-bottom: 5px;
	}

/* Dropdown 6 */
#menu .menu-dropdown6 img {
	margin-right: 5px;
	vertical-align: middle;
}

#menu .menu-dropdown6 .menu-label {
	vertical-align: middle;
}

#menu .menu-dropdown6 .menu-subbutton {
	padding: 5px 20px;
}

#menu .menu-dropdown6 li:hover .menu-dropdown3 {
	left: 142px;
	visibility: visible;
	top: -9px;
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

/* Dropdown 7 */
#menu .menu-dropdown7 {
	padding: 10px;
	width: 210px;
}

	#menu .menu-dropdown7 p {
		margin-top: 7px;
	}

	#menu .menu-dropdown7 h1 {
		color: #e0e0e0;
		padding-bottom: 3px;
	}

#navLoggedIn {
	margin-right: 20px;
}
#menu #navLoggedIn .menu-drop {
	padding-right: 19px;
}
.menu-top .menu-label img {
}