<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="31541Greeneagle.SmiteAssist" Publisher="CN=8AD30D03-C126-4432-ABF1-E37F8ED290CA" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Smite Assist</DisplayName>
    <PublisherDisplayName>Greenhorizon</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SmiteAssistWin8.App">
      <VisualElements DisplayName="Smite Assist" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SmiteAssistWin8" ForegroundText="light" BackgroundColor="#2581BC">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#2581BC" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>